# |-----------------|
# |   Docker ENV    |
# |-----------------|
# PGSQL Database Credential
DB_PASSWORD=password
DB_USERNAME=admin
DB_DATABASE_NAME=software-api

# PGAdmin Dashboard Credential
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_DEFAULT_EMAIL=admin@email.com

# RabbitMQ User
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password



# |-----------------|
# | Application ENV |
# |-----------------|
SERVICE_PORT=3000

# RABBITMQ ENV
RABBITMQ_URL=amqp://admin:password@localhost:5672
ROOM_QUEUE=room
SOFTWARE_QUEUE=software

# Prisma Database Connection 
DATABASE_URL="postgresql://admin:password@localhost:5432/software-api?schema=public"

# If Apollo Sandbox true the default Graphql playground 
# will be replaced by Apollo Sandbox 
APOLLO_SANDBOX=false

# If Apollo Playground is false and playground true ,
# The default graphql playground will be shown
PLAYGROUND=true