DB_PASSWORD=password
DB_USERNAME=admin
DB_DATABASE_NAME=software-api

PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_DEFAULT_EMAIL=admin@email.com

DATABASE_URL="postgresql://admin:password@localhost:5432/software-api?schema=public"